<!DOCTYPE html>
<html>
<title>ParkPoint | {{ .Name }}</title>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style> 
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
#marker0,#marker1,#marker2,#marker3,#marker4 {
background-image: url('/static/images/parking.jpeg');
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
}
button{
  outline:none;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif;color: black;}
.w3-bar-block .w3-bar-item {padding:20px}

.ulraScrollbar{
  height: 600px;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.ulraScrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ulraScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
</style>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:4;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">Login</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
</nav>

<!-- Top menu -->
<div class="w3-top w3-white w3-card" style="z-index:3;">
  <div class=" w3-xlarge" style="max-width:1400px;">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-right w3-padding-16"><img src="/static/images/userNotLogged.png" alt="Hi, User" style="width:40px;height:40px;"></div>
    <div class="w3-center w3-padding-16">Parkings in {{ .Name }}</div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content" style="width: 100%;margin-top:70px;max-width:1400px;z-index: 2;position: absolute;">
  <!-- First Photo Grid-->
  <div class="w3-center" id="food" style="width: 100%;">
    <div class="w3-quarter w3-blue ulraScrollbar w3-display-container" id="sidebarOption" style="display: block;"> 
      <div class="w3-blue w3-padding" style="width: 100%;">
         <button id="slideSidebarOption" class="w3-transparent w3-border-0 w3-display-topright" onclick="closeSidebarOption()" style="cursor:pointer;"><img src="/static/images/leftSwipe.png" style="width: 30px;height: 30px;"></button><br>
         <!---<img src= "{{ .PicURL }}" alt="Bhopal" style="width:100%;height:160px;">--->
         <input class="w3-input w3-blue w3-text-white" type="text" placeholder="Search in {{ .Name }}"><br>
         <h4 class="w3-text-white">Patna Bihar</h4>
         <h5 class="w3-text-white">Total Parkings - {{ .NoOfParkingSlots }}</h5>
      </div>

      
        {{range .Parking }}
  
        <div class="w3-white w3-hover-shadow w3-hover-border-bule w3-hover-opacity" style="cursor:pointer;">
          <table class="w3-table">
            <tr>
              <td>
                <h5 class="w3-text-black">{{ .Name }}</h5>
                <table class="w3-table w3-bordered">
                  <tr>
                    <td><h6 class="w3-text-grey" class="dis">{{ .DistanceFromYou }} Km </h6></td>
                    <td><h5 class="w3-text-grey"><font color="green">{{ .ETA }} hr</font></h5></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
  
        {{end}}

    </div>

    <!--------map option-------------------->
    <div class="w3-threequarter w3-light-grey" style="height: 600px;" id="mapDiv">
      <button id="openSidebarOption" class="w3-border-0 w3-transparent" onclick="openSidebarOption()" style="display: none;cursor:pointer;"><img src="/static/images/rightSwipe.png" style="width: 30px;height: 30px;"></button>
  <!-------------mapbox code below------------>
  <p id="latitude" style="display: none;">{{ .Latitude }}</p>
  <p id="longitude" style="display: none;">{{ .Longitude }}</p>
  <div id='map' class="w3-border-0" style='width: 100%; height: 100%;z-index: 2;position: absolute;'></div>
  <script>
  var lat = parseFloat(document.getElementById("latitude").textContent);
  var lng = parseFloat(document.getElementById("longitude").textContent);  
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2hhc2hhbmstcHJha2FzaCIsImEiOiJja2ZjZzJmOGsxN3kxMnRvNXp1MDJxcGFzIn0.69B3TiOom1WXyot_FdTVHA';
  var map = new mapboxgl.Map({
       container: 'map',
       style: 'mapbox://styles/mapbox/streets-v11',
       center: [lng,lat],
       zoom: 11.15
  });

//nevigation
  map.addControl(new mapboxgl.NavigationControl());


 //var marker1 = new mapboxgl.Marker().setLngLat([77.458059, 23.231247]).addTo(map);
 //var marker2 = new mapboxgl.Marker().setLngLat([77.338690, 23.270774]).addTo(map);
 //var marker3 = new mapboxgl.Marker().setLngLat([77.412542, 23.267715]).addTo(map);
 //var marker4 = new mapboxgl.Marker().setLngLat([77.407086, 23.263625]).addTo(map);
 //var marker5 = new mapboxgl.Marker().setLngLat([77.456512, 23.268870]).addTo(map);


// create the popup
var monuments = [[77.458059, 23.231247],[77.338690, 23.270774],[77.412542, 23.267715],[77.407086, 23.263625],[77.456512, 23.268870]];
var popupInfo = ["Smart Parking Bhopal","New Market Parking Lot","Parking T.T Nagar","Bhopal Juntion Parking","Parking Sultania Road"];
for(var i=0;i<5;i++){

var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
'<font color="black">'+popupInfo[i]+'</font>'
);
 
// create DOM element for the marker
var el = document.createElement('div');
el.id = 'marker'+i;
 
// create the marker
new mapboxgl.Marker(el).setLngLat(monuments[i]).setPopup(popup).addTo(map);
}

map.addControl(
    new mapboxgl.GeolocateControl({
    positionOptions: {
    enableHighAccuracy: true
    },
    trackUserLocation: true
    })
);

/////////////////////////////////////////////////////show route//////////////////////////////////////////////////////
//https://api.mapbox.com/directions/v5/mapbox/driving/85.31311939999999,25.0960742;77.412542,%2023.267715?access_token=pk.eyJ1Ijoic2hhc2hhbmstcHJha2FzaCIsImEiOiJja2ZjZzJmOGsxN3kxMnRvNXp1MDJxcGFzIn0.69B3TiOom1WXyot_FdTVHA
/*var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}*/

  </script>
  <!------------------mapbox code above---------->
    </div>

  </div>
  
  
  
  <hr id="about">

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

function closeSidebarOption(){
document.getElementById("sidebarOption").style.display="none";
document.getElementById("mapDiv").classList.remove("w3-threequarter");
document.getElementById("openSidebarOption").style.display="block";
}

function openSidebarOption(){
document.getElementById("sidebarOption").style.display="block";
document.getElementById("mapDiv").classList.add("w3-threequarter");
document.getElementById("openSidebarOption").style.display="none";
}
</script>

</body>
</html>